/*Element Styles*/

ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

ul li {
	display: inline-block;
	width: 12%;
	text-align: center;
	margin: 0 3%;
}


/*Class Styles*/

.portfolio_work
{
	width: 30%;
	margin: 1% 1.5%;
	float: left;
}

.portfolio_work img
{
	width: 100%;
	height: 100%;
}

.portfolio_work_title
{
	/*display: none;*/
	text-align: center;
}

.portfolio_work_description
{
	/*display: none;*/
}

/*ID Styles*/

#portfolio-container
{
	width: 90%;
	margin: 0 auto;
}

/*Mobile Changes*/