/*Element Styles*/

ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

ul li {
	display: inline-block;
	width: 12%;
	text-align: center;
	margin: 0 3%;
}

ul li a {
	text-decoration: none;
	color: black;
}

ul li a:hover {
	color: blue;
}

/*Class Styles*/

.portfolio_work
{
	width: 45%;
	margin: 1% 1.5%;
	float: left;
	position: relative;
}

.portfolio_work:hover img
{
	opacity: 0.3;
}

.portfolio_work img
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.portfolio_work_title
{
	/*display: none;*/
	text-align: center;
	margin-top: 12%;
}

.portfolio_work_description
{
	padding: 15px;
}

/*ID Styles*/

#portfolio-container
{
	width: 90%;
	margin: 0 auto;
}

#project_page_content_container
{
	width: 90%;
	margin: 0 auto;
}

#project_page_app_img
{
	float: left;
	margin: 0;
	width: 125px;
	height: 125px;
	background-color: red;
}

#project_page_app_name
{
	overflow: hidden;
	margin: 0;
	height: 80px;
	text-align: center;
	line-height: 100px;
	background-color: orange;
}

#project_page_app_description
{
	height: 350px;
	width: 100%;
	background-color: purple;
	margin: 0;
}

#project_page_app_screenshot_carousel
{
	height: 150px;
	width: 100%;
	background-color: green;
}

#project_page_app_locators
{
	height: 50px;
	width: 100%;
	background-color: blue;
	margin: 0;
}

#project_page_app_locators li
{
	background-color: yellow;
	margin: 5px 10%;
}


/*Mobile Changes*/
@media only screen and (max-width: 700px) {
	.portfolio_work	
	{
		width: 90%;
		margin: 1% 5%;
		position: static;
		clear: both;
		height: 100%;
	}

	.portfolio_work:hover img
	{
		opacity: 1.0;
	}

	.portfolio_work img
	{
		display: block;
		position: static;
	}
	.portfolio_work_title
	{
		display: block;
	}
	.portfolio_work_description
	{
		display: block;
	}
}




